#
# .zshrc is sourced in interactive shells.
# It should contain commands to set up aliases,
# functions, options, key bindings, etc.
#

export SHELL=/usr/bin/zsh
export EDITOR=nvim
export VISUAL=$EDITOR
export JIRA_BASE_URL="https://uceapit.atlassian.net"
{{ if (and (not .devcontainer) (not .codespaces) (not .container)) }}
export ANTHROPIC_FOUNDRY_API_KEY={{ onepasswordRead "op://xo32sy3f3wzlibewb2wn56f62i/kcxkwyhuudsqsmsvgw6j4l4crq/credential" }}
export GH_TOKEN={{ onepasswordRead "op://employee/5myfngtqzw57ult576drgswdqi/token" }}
export JIRA_API_TOKEN={{ onepasswordRead "op://employee/mupia66ql5hjgse7ijnsookwum/credential" }}
export JIRA_EMAIL={{ onepasswordRead "op://employee/mupia66ql5hjgse7ijnsookwum/username" }}
export TERMINUS_TOKEN={{ onepasswordRead "op://employee/terminus-token/credential" }}
export UCEAP_PORTAL_GOOGLE_CLIENT_ID={{ onepasswordRead "op://employee/ysuhgai7uvxcab5vqhyods4cvi/username" }}
export UCEAP_PORTAL_GOOGLE_CLIENT_SECRET={{ onepasswordRead "op://employee/ysuhgai7uvxcab5vqhyods4cvi/credential" }}
{{ end }}

if [ -S ~/.1password/agent.sock ]; then
  export SSH_AUTH_SOCK=~/.1password/agent.sock
fi

export ATUIN_INIT_FLAGS="--disable-up-arrow"
eval "$(atuin init zsh ${ATUIN_INIT_FLAGS})"

alias vim=nvim

alias .j='just --justfile ~/.user.justfile --working-directory .'

if test -f /usr/share/ublue-os/bling/bling.sh; then
    source /usr/share/ublue-os/bling/bling.sh
else
    [ "$(command -v atuin)" ] && eval "$(atuin init zsh ${ATUIN_INIT_FLAGS})"
    [ "$(command -v starship)" ] && eval "$(starship init zsh)"
    [ "$(command -v zoxide)" ] && eval "$(zoxide init zsh)"
fi

if command -v vivid >/dev/null 2>&1; then
  export LS_COLORS="$(vivid generate catppuccin-frappe)"
fi

if command -v devcontainer >/dev/null 2>&1; then
  alias dcu='devcontainer up   --id-label=project=$(basename $(pwd)) --workspace-folder . --dotfiles-repository kurowski/dotfiles'
  alias dck='docker ps     --filter label=project=$(basename $(pwd)) --format '{{.ID}}' | xargs docker rm -f'
  dce() {
    local session_name="${1:-devcontainer}"
    devcontainer exec --id-label=project=$(basename $(pwd)) --workspace-folder . tmux new-session -As "$session_name"
  }
fi

if [ -f "$HOME/.zshrc.local" ]; then
    source "$HOME/.zshrc.local"
fi                                                                                                                                             
