#
# .zshrc is sourced in interactive shells.
# It should contain commands to set up aliases,
# functions, options, key bindings, etc.
#

export EDITOR=nvim
export VISUAL=$EDITOR
export TERMINUS_TOKEN={{ onepasswordRead "op://employee/terminus-token/credential" }}

export ATUIN_INIT_FLAGS="--disable-up-arrow"
eval "$(atuin init zsh ${ATUIN_INIT_FLAGS})"

alias vim=nvim

alias .j='just --justfile ~/.user.justfile --working-directory .'
