#!/bin/zsh

atuin login \
  --username '{{ onepasswordRead "op://employee/atuin/username" }}' \
  --password '{{ onepasswordRead "op://employee/atuin/password" }}' \
  --key '{{ onepasswordRead "op://employee/atuin-key/password" }}'
