/* @import url('https://brandt.kurowski.net/monaspice-webfonts/monaspice.css'); */

/* Comment Class */
#js-vscode-workbench .mtk3.mtki {
  font-family: local('MonaspiceRn Nerd Font');
  font-weight: 500;
}

/* Copilot Classes */
#js-vscode-workbench .ghost-text-decoration {
  font-family: local('MonaspiceKr Nerd Font');
  font-weight: 200;
}

#js-vscode-workbench .ghost-text-decoration-preview {
  font-family: local('MonaspiceKr Nerd Font');
  font-weight: 200;
}
