-- LunarVim config — managed by ansible (dotfiles)

{% if theme == 'dark' %}
lvim.plugins = {
  { "luisiacc/gruvbox-baby" },
}
lvim.colorscheme = "gruvbox-baby"
{% else %}
lvim.plugins = {
  { "cocopon/iceberg.vim" },
}
vim.o.background = "light"
lvim.colorscheme = "iceberg"
{% endif %}
