return {
  {
    "catppuccin",
    opts = { flavour = "{{ if eq .Vars.THEME "dark" }}mocha{{ else }}latte{{ end }}" },
  },
  {
    "AstroNvim/astroui",
    opts = { colorscheme = "catppuccin-{{ if eq .Vars.THEME "dark" }}mocha{{ else }}latte{{ end }}" },
  },
}
