return {
  {
    "catppuccin",
    opts = { flavour = "{{ if or (eq .Vars.THEME "dark") (hasTag "termux") }}mocha{{ else }}latte{{ end }}" },
  },
  {
    "AstroNvim/astroui",
    opts = { colorscheme = "catppuccin-{{ if or (eq .Vars.THEME "dark") (hasTag "termux") }}mocha{{ else }}latte{{ end }}" },
  },
}
