---
- name: Install Flatpak
  become: true
  ansible.builtin.apt:
    name: flatpak
    state: present

- name: Add Flathub remote
  become: true
  community.general.flatpak_remote:
    name: flathub
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
    state: present

- name: Install common Flatpak apps
  community.general.flatpak:
    name: "{{ item }}"
    state: present
  loop: "{{ flatpaks_common | default([]) }}"

- name: Install desktop Flatpak apps
  community.general.flatpak:
    name: "{{ item }}"
    state: present
  loop: "{{ flatpaks_desktop | default([]) }}"
  when: is_desktop | bool
