[Desktop Entry]
Name=Windows VM
Comment=Connect to Windows 10 VM via RDP
Exec={{ ansible_env.HOME }}/.local/bin/winvm
Icon=preferences-desktop-remote-desktop
Terminal=false
Type=Application
Categories=System;
