[Desktop Entry]
Actions=new-empty-window;
Categories=TextEditor;Development;IDE;
Comment=Code Editing. Redefined.
Exec=/usr/share/code/code %F
GenericName=Text Editor
Icon=vscode
Keywords=vscode;
MimeType=application/x-code-workspace;
Name=Visual Studio Code
StartupNotify=false
StartupWMClass=Code
Type=Application

[Desktop Action new-empty-window]
Exec=/usr/share/code/code --new-window %F
Icon=vscode
Name=New Empty Window
