export JIRA_BASE_URL=https://uceapit.atlassian.net
export ANTHROPIC_FOUNDRY_API_KEY={{ op://Employee/kcxkwyhuudsqsmsvgw6j4l4crq/credential }}
export GH_TOKEN={{ op://Employee/5myfngtqzw57ult576drgswdqi/token }}
export JIRA_API_TOKEN={{ op://Employee/mupia66ql5hjgse7ijnsookwum/credential }}
export JIRA_EMAIL={{ op://Employee/mupia66ql5hjgse7ijnsookwum/username }}
export TERMINUS_TOKEN={{ op://Employee/terminus-token/credential }}
export UCEAP_PORTAL_GOOGLE_CLIENT_ID={{ op://Employee/ysuhgai7uvxcab5vqhyods4cvi/username }}
export UCEAP_PORTAL_GOOGLE_CLIENT_SECRET={{ op://Employee/ysuhgai7uvxcab5vqhyods4cvi/credential }}
